<p>Bienvenido <%= @resource.email %>!</p>

<p>Puede confirmar su cuenta de email a traves del siguiente vinculo:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
