<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @situacion_revistum.nombre %>
</p>


<%= link_to 'Edit', edit_situacion_revistum_path(@situacion_revistum) %> |
<%= link_to 'Back', situacion_revista_path %>
